{# Note, "salary_factors" name comes from SalaryFactorsType PHP class #}
{% block salary_factors_row %}
    {{ form_label(form) }}
    <div class="js-salary_factor js-querybuilder"
         data-rules="{{ value }}"
         data-target-id="{{ id }}"></div>
    <input type="hidden" name="{{ full_name }}" id="{{ id }}" value="{{ value }}" />
    {{ form_help(form) }}
    {{ form_errors(form) }}
{% endblock %}
